// color
$color-white: #fff;
$color-black: #000;
$color-blue: #387aea;
$color-blue-dark: #0f52c6;
$color-green: #14ae69;
$color-green-dark: #077c47;
$color-light-gray: #bebebe;
$color-gray: #f5f5f5;
$color-light-peach: #fefcf3;
$color-peach: #f5ebe0;
$color-orange: #ffb100;
$color-wedding: #d6e0f0;
$color-winter: #8d93ab;
$color-gray-super-light: #f1f3f8;
$color-cream: #393b44;
$color-red: #e4012e;

//font-spec
$font-main: 'Montserrat';
$font-style: normal;
$font-weight-light: 300;
$font-weight-main: 400;
$font-weight-bold: 600;
$font-weight-super-bold: 800;

$pageWidth: 1240px;

$box-shadow-navbar: 0 4px 2px -2px rgb(220, 220, 220);

